@import '../css/main.css';

nav {
    height: 3.4rem;
    background-color: white;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /*border: solid black 1px;*/
}
.nav-brand-container a {
    margin-left: 0.8rem;
}
.nav-brand-link img {
    width: 9rem;
    /*margin-left: 0.8rem;*/
}
.nav-brand-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    /*border: solid black 1px;*/
}
.nav-link {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--blue);
}
.nav-link:hover {
    color: var(--purple);
}
.footer-social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: solid black 1px;*/
}
.footer-rights {
    width: 100%;
    text-align: center;
    /*border: solid black 1px;*/
}
footer {
    padding: 0.8rem;
    background-color: var(--purple);
    color: white;
}
.footer-lws-link img{
    width: 2.2rem;
}


@media (max-width: 768px) {
    .nav-links-container-mobile-tablet {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        /*border: solid black 1px;*/
    }
    .nav-links-container-desktop {
        display: none;
        /*visibility: hidden;*/
    }
    .footer-rights p{
        font-size: 1.3rem;
    }
    .footer-social-media-links span{
        font-size: 2rem;
    }
    .footer-social-media-links i{
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .nav-links-container-mobile-tablet {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        /*border: solid black 1px;*/
    }
    .nav-links-container-desktop {
        display: none;
        /*visibility: hidden;*/
    }
    .footer-rights p{
        font-size: 1.2rem;
    }
    .footer-rights i{
        font-size: 1.2rem;
    }
}

@media (min-width: 1280px) {
    .nav-links-container-desktop {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        /*border: solid black 1px;*/
    }
    .nav-links-container-mobile-tablet {
        display: none;
        /*visibility: hidden;*/
    }
    .footer-rights p{
        font-size: 1rem;
    }
    .footer-rights i{
        font-size: 1rem;
    }
}