@import './main.css';
@import './admin.css';
@import './home.css';

table {
    width: 100%;
}
th, td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}
thead tr {
    border-bottom: solid gray 1px;
}
tr {
    display: grid;
    grid-template-columns: 6% 42% 42% 10%;
}
.nav-brand-link img {
    width: 7rem;
}
@media (max-width: 768px) {
    table {
        border: solid gray 1px;
    }
    thead tr {
        border: none;
    }
    .user-info table{
        display: flex;
    }
    .user-info thead{
        width: 20%;
    }
    .user-info tbody{
        width: 80%;
        /*border: solid gray 1px;*/
    }
    tr {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    th {
        font-size: 1rem;
        /*border: solid gray 1px;*/
    }
    td {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*border: solid lightgray 1px;*/
    }
    #tid {
        grid-column: 1 / 7;
        
    }
    #tfn {
        grid-column: 1 / 7;
        
    }
    #tln {
        grid-column: 1 / 7;
        
    }
    #tem {
        grid-column: 1 / 7;
       
    }
    #tpo {
        grid-column: 1 / 7;
        
    }
    #uid {
        grid-column: 1 / 7 ;
        
    }
    #ufn {
        grid-column: 1 / 7;
        
    }
    #uln {
        grid-column: 1 / 7;
        
    }
    #uem {
        grid-column: 1 / 7;
        
    }
    #upo {
        grid-column: 1 / 7;
        
    }
}

/*@media (min-width: 300px) and (max-width: 400px) {
    .form-container {
        width: 95%;
    }
    .input input, .input-submit-login input {
        height: 2.2rem;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    th, td {
        font-size: 0.6rem;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    th, td {
        font-size: 0.7rem;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    th, td {
        font-size: 0.8rem;
    }
}

@media (min-width: 700px) and (max-width: 768px) {
    th, td {
        font-size: 0.9rem;
    }
}*/

@media (min-width: 768px) and (max-width: 1280px) {
    table {
        border: solid gray 1px;
    }
    thead tr {
        border: none;
    }
    .user-info table{
        display: flex;
    }
    .user-info thead{
        width: 20%;
    }
    .user-info tbody{
        width: 80%;
        /*border: solid gray 1px;*/
    }
    tr {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    th {
        font-size: 1rem;
        /*border: solid gray 1px;*/
    }
    td {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*border: solid lightgray 1px;*/
    }
    #tid {
        grid-column: 1 / 7;
        
    }
    #tfn {
        grid-column: 1 / 7;
        
    }
    #tln {
        grid-column: 1 / 7;
        
    }
    #tem {
        grid-column: 1 / 7;
       
    }
    #tpo {
        grid-column: 1 / 7;
        
    }
    #uid {
        grid-column: 1 / 7 ;
        
    }
    #ufn {
        grid-column: 1 / 7;
        
    }
    #uln {
        grid-column: 1 / 7;
        
    }
    #uem {
        grid-column: 1 / 7;
        
    }
    #upo {
        grid-column: 1 / 7;
        
    }
}

@media (min-width: 1280px) {
    
}